[Unit]
Description=run bot save twice per day
After=docker.service
Requires=docker.service

[Timer]
OnCalendar=*-*-* 06,18:00:00

[Install]
WantedBy=multi-user.target
